.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #4b4a4a;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 8px 0 #252525;
  font-size: 7rem;
  color: #fff;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
}

button{
  background-color: #303030;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  font-family: 'Indie Flower', cursive;
}
